.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Ajoute ceci dans ton fichier CSS global */
input[type="checkbox"].form-checkbox:checked {
  background-color: #3b82f6; /* bleu */
  border-color: transparent;
}

input[type="checkbox"].form-checkbox:focus {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* focus shadow avec couleur bleue */
}

input[type="checkbox"].form-checkbox:disabled {
  background-color: #6b7280; /* couleur gris pour disabled */
}


/* styles.css */
.btn {
  @apply font-bold py-2 px-4 rounded-full shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-xl;
}

.btn-blue {
  @apply bg-blue-700 hover:bg-blue-800 text-white;
}

.btn-red {
  @apply bg-red-500 hover:bg-red-700 text-white;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffcc00;
  color: black;
  padding: 15px;
  text-align: center;
  z-index: 1000;
}

.alert-warning {
  background-color: #ffcc00;
}

/* src/index.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}



